/* Aturan dasar untuk body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: cornsilk;
    margin: 0;
    padding: 0;
}

/* Styling untuk header dan footer */
header, footer {
    text-align: center;
    padding: 20px;
    background-color: darkslategrey;
    color: white;
}

/* Styling khusus untuk header dengan class .header2 */
.header2 h1 {
    font-size: 2rem;
    margin: 0;
}

/* Styling untuk judul utama */
.main-tittle {
    margin: 0;
    font-size: 2rem;
}

/* Styling untuk elemen main */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Styling untuk aside */
aside {
    background: cornsilk;
    padding: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

/* Styling untuk form */
form {
    padding: 10px;
    background-color: aquamarine;
}

/* Styling untuk div di dalam form yang memiliki class .parameter */
form .parameter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Styling untuk h3 di dalam div dengan class .jenis-kelamin */
form .jenis-kelamin h3 {
    margin-bottom: 0;
}

/* Styling untuk label di dalam form */
form div label {
    margin-left: 5px;
    font-size: 20px;
}

/* Styling untuk input radio di dalam form */
form input[type="radio"] {
    margin-left: 0;
    margin-right: 5px;
}

/* Styling untuk input number di dalam form */
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

/* Styling untuk container tombol di dalam form */
.form-btn-container {
    display: flex;
    justify-content: space-around;
}

/* Styling untuk tombol */
.button {
    border: none;
    border-radius: 4px;
    flex: 1;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

/* Styling untuk tombol dengan background cornsilk */
.bg-cornsilk {
    background-color: cornsilk;
}

/* Styling untuk tombol dengan background merah dan teks putih */
.bg-reset {
    background-color: red;
    color: white;
}

/* Styling tambahan untuk input number yang didefinisikan dua kali */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

/* Styling untuk h3 di dalam div dengan class .advantages */
.advantages h3 {
    margin-top: 20px;
    margin-bottom: 1px;
}

/* Styling untuk daftar dalam div dengan class .advantages */
.advantages ul {
    list-style-type: number;
    padding-left: 0;
    margin: 0;
}

/* Styling untuk item di dalam daftar .advantages */
.advantages ul li {
    margin-bottom: 5px;
}

/* Styling untuk h1 di dalam section */
section h1 {
    margin: 0 0 10px 0;
    padding: 0;
}

/* Styling untuk p di dalam section */
section p {
    margin: 0;
    padding: 0;
    margin-top: 10px; 
}

/* Styling untuk footer */
footer {
    margin-top: 20px;
    padding: 10px;
}

/* Styling untuk p di dalam footer */
footer p {
    margin: 0;
}
